version: '3.8'
services:
  rasa-server:
    image: rasa-bot:latest
    working_dir: /app
    build: "./"
    restart: always
    volumes:
    - ./actions:/app/actions
    - ./data:/app/data
    command: bash -c "rasa run --enable-api --cors \"*\" --debug"
    ports:
    - '5005:5005'
    public: true